body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app{
  display: flex;
  margin: 2px;
  padding: 2px;
  gap: 10px
}

html,
body,
#root,
.app,
.content{
  width: 100%;
  height: 100%
}
